.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #51144f;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  flex-grow: 1;
  overflow-y: auto;
}

.video-item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.video-title {
  font-size: 14px;
  font-weight: bold;
}